.hero-bg {
    background-image: url('images/3.png');
    background-size: contain;
    background-position: center;
}

.text-coral {
    color: #FF6B5A;
}

.bg-coral {
    background-color: #FF6B5A;
}

.bg-cream {
    background-color: #FFF4E6;
}
